.forget-password-link {
  text-decoration: none;
  color: #291571;
  font-size: 14px;
}
.passlink {
  color: grey;
  font-size: 10px;
  text-decoration: none;
}

.login-form h2 {
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.button-container {
  display: flex;
  justify-content: center;
}

.error-text {
  color: #291571;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.logintxt {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.error-text {
  color: red;
  text-align: center;
  margin-top: 5px;
}
.button-container {
  text-align: center;
  margin-top: 20px;
}

.register-link {
  color: #291571;
  cursor: pointer;
}

.logpara {
  color: #291571;
}

.LoginApp{
  background-color: transparent;
  border: 0px !important;
  /* box-shadow: 
  1px 1px 2px rgb(54, 49, 110),  
  -1px -1px 2px rgb(106, 105, 116), 
  -1px 1px 2px rgb(161, 161, 161),  
  1px -1px 2px rgb(75, 69, 137);   */
}
.subbtn1{
  background-color: #291571;
  padding: 10px;
  font-weight: 600;
  color: #fff;
  border: 2px solid #291571;
}
.subbtn1:hover{
  background-color: #fff;
  color: #291571;
  border: 2px solid #291571;
}

.login-form{
background-color: transparent !important;
}

.loginbg{
 background-image: url("../../../Asset/loginbg.jpg"); 
 height: 100vh;
}